<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mall.mbg.mapper.CmsMemberReportMapper">
  <resultMap id="BaseResultMap" type="com.lucky.mall.mbg.model.CmsMemberReport">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="report_type" jdbcType="INTEGER" property="report_type" />
    <result column="report_member_name" jdbcType="VARCHAR" property="report_member_name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="report_object" jdbcType="VARCHAR" property="report_object" />
    <result column="report_status" jdbcType="INTEGER" property="report_status" />
    <result column="handle_status" jdbcType="INTEGER" property="handle_status" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, report_type, report_member_name, create_time, report_object, report_status, handle_status, 
    note
  </sql>
  <select id="selectByExample" parameterType="com.lucky.mall.mbg.model.CmsMemberReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_member_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.lucky.mall.mbg.model.CmsMemberReportExample">
    delete from cms_member_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lucky.mall.mbg.model.CmsMemberReport">
    insert into cms_member_report (id, report_type, report_member_name, 
      create_time, report_object, report_status, 
      handle_status, note)
    values (#{id,jdbcType=BIGINT}, #{report_type,jdbcType=INTEGER}, #{report_member_name,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{report_object,jdbcType=VARCHAR}, #{report_status,jdbcType=INTEGER}, 
      #{handle_status,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lucky.mall.mbg.model.CmsMemberReport">
    insert into cms_member_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="report_type != null">
        report_type,
      </if>
      <if test="report_member_name != null">
        report_member_name,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="report_object != null">
        report_object,
      </if>
      <if test="report_status != null">
        report_status,
      </if>
      <if test="handle_status != null">
        handle_status,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="report_type != null">
        #{report_type,jdbcType=INTEGER},
      </if>
      <if test="report_member_name != null">
        #{report_member_name,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="report_object != null">
        #{report_object,jdbcType=VARCHAR},
      </if>
      <if test="report_status != null">
        #{report_status,jdbcType=INTEGER},
      </if>
      <if test="handle_status != null">
        #{handle_status,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lucky.mall.mbg.model.CmsMemberReportExample" resultType="java.lang.Long">
    select count(*) from cms_member_report
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_member_report
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.report_type != null">
        report_type = #{record.report_type,jdbcType=INTEGER},
      </if>
      <if test="record.report_member_name != null">
        report_member_name = #{record.report_member_name,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.report_object != null">
        report_object = #{record.report_object,jdbcType=VARCHAR},
      </if>
      <if test="record.report_status != null">
        report_status = #{record.report_status,jdbcType=INTEGER},
      </if>
      <if test="record.handle_status != null">
        handle_status = #{record.handle_status,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_member_report
    set id = #{record.id,jdbcType=BIGINT},
      report_type = #{record.report_type,jdbcType=INTEGER},
      report_member_name = #{record.report_member_name,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP},
      report_object = #{record.report_object,jdbcType=VARCHAR},
      report_status = #{record.report_status,jdbcType=INTEGER},
      handle_status = #{record.handle_status,jdbcType=INTEGER},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>