<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mall.mbg.mapper.OmsOrderItemMapper">
  <resultMap id="BaseResultMap" type="com.lucky.mall.mbg.model.OmsOrderItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="order_id" />
    <result column="order_sn" jdbcType="VARCHAR" property="order_sn" />
    <result column="product_id" jdbcType="BIGINT" property="product_id" />
    <result column="product_pic" jdbcType="VARCHAR" property="product_pic" />
    <result column="product_name" jdbcType="VARCHAR" property="product_name" />
    <result column="product_brand" jdbcType="VARCHAR" property="product_brand" />
    <result column="product_sn" jdbcType="VARCHAR" property="product_sn" />
    <result column="product_price" jdbcType="DECIMAL" property="product_price" />
    <result column="product_quantity" jdbcType="INTEGER" property="product_quantity" />
    <result column="product_sku_id" jdbcType="BIGINT" property="product_sku_id" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="product_sku_code" />
    <result column="product_category_id" jdbcType="BIGINT" property="product_category_id" />
    <result column="promotion_name" jdbcType="VARCHAR" property="promotion_name" />
    <result column="promotion_amount" jdbcType="DECIMAL" property="promotion_amount" />
    <result column="coupon_amount" jdbcType="DECIMAL" property="coupon_amount" />
    <result column="integration_amount" jdbcType="DECIMAL" property="integration_amount" />
    <result column="real_amount" jdbcType="DECIMAL" property="real_amount" />
    <result column="gift_integration" jdbcType="INTEGER" property="gift_integration" />
    <result column="gift_growth" jdbcType="INTEGER" property="gift_growth" />
    <result column="product_attr" jdbcType="VARCHAR" property="product_attr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, order_sn, product_id, product_pic, product_name, product_brand, product_sn, 
    product_price, product_quantity, product_sku_id, product_sku_code, product_category_id, 
    promotion_name, promotion_amount, coupon_amount, integration_amount, real_amount, 
    gift_integration, gift_growth, product_attr
  </sql>
  <select id="selectByExample" parameterType="com.lucky.mall.mbg.model.OmsOrderItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from oms_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oms_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lucky.mall.mbg.model.OmsOrderItemExample">
    delete from oms_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lucky.mall.mbg.model.OmsOrderItem">
    insert into oms_order_item (id, order_id, order_sn, 
      product_id, product_pic, product_name, 
      product_brand, product_sn, product_price, 
      product_quantity, product_sku_id, product_sku_code, 
      product_category_id, promotion_name, promotion_amount, 
      coupon_amount, integration_amount, real_amount, 
      gift_integration, gift_growth, product_attr
      )
    values (#{id,jdbcType=BIGINT}, #{order_id,jdbcType=BIGINT}, #{order_sn,jdbcType=VARCHAR}, 
      #{product_id,jdbcType=BIGINT}, #{product_pic,jdbcType=VARCHAR}, #{product_name,jdbcType=VARCHAR}, 
      #{product_brand,jdbcType=VARCHAR}, #{product_sn,jdbcType=VARCHAR}, #{product_price,jdbcType=DECIMAL}, 
      #{product_quantity,jdbcType=INTEGER}, #{product_sku_id,jdbcType=BIGINT}, #{product_sku_code,jdbcType=VARCHAR}, 
      #{product_category_id,jdbcType=BIGINT}, #{promotion_name,jdbcType=VARCHAR}, #{promotion_amount,jdbcType=DECIMAL}, 
      #{coupon_amount,jdbcType=DECIMAL}, #{integration_amount,jdbcType=DECIMAL}, #{real_amount,jdbcType=DECIMAL}, 
      #{gift_integration,jdbcType=INTEGER}, #{gift_growth,jdbcType=INTEGER}, #{product_attr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lucky.mall.mbg.model.OmsOrderItem">
    insert into oms_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="order_sn != null">
        order_sn,
      </if>
      <if test="product_id != null">
        product_id,
      </if>
      <if test="product_pic != null">
        product_pic,
      </if>
      <if test="product_name != null">
        product_name,
      </if>
      <if test="product_brand != null">
        product_brand,
      </if>
      <if test="product_sn != null">
        product_sn,
      </if>
      <if test="product_price != null">
        product_price,
      </if>
      <if test="product_quantity != null">
        product_quantity,
      </if>
      <if test="product_sku_id != null">
        product_sku_id,
      </if>
      <if test="product_sku_code != null">
        product_sku_code,
      </if>
      <if test="product_category_id != null">
        product_category_id,
      </if>
      <if test="promotion_name != null">
        promotion_name,
      </if>
      <if test="promotion_amount != null">
        promotion_amount,
      </if>
      <if test="coupon_amount != null">
        coupon_amount,
      </if>
      <if test="integration_amount != null">
        integration_amount,
      </if>
      <if test="real_amount != null">
        real_amount,
      </if>
      <if test="gift_integration != null">
        gift_integration,
      </if>
      <if test="gift_growth != null">
        gift_growth,
      </if>
      <if test="product_attr != null">
        product_attr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=BIGINT},
      </if>
      <if test="order_sn != null">
        #{order_sn,jdbcType=VARCHAR},
      </if>
      <if test="product_id != null">
        #{product_id,jdbcType=BIGINT},
      </if>
      <if test="product_pic != null">
        #{product_pic,jdbcType=VARCHAR},
      </if>
      <if test="product_name != null">
        #{product_name,jdbcType=VARCHAR},
      </if>
      <if test="product_brand != null">
        #{product_brand,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null">
        #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="product_price != null">
        #{product_price,jdbcType=DECIMAL},
      </if>
      <if test="product_quantity != null">
        #{product_quantity,jdbcType=INTEGER},
      </if>
      <if test="product_sku_id != null">
        #{product_sku_id,jdbcType=BIGINT},
      </if>
      <if test="product_sku_code != null">
        #{product_sku_code,jdbcType=VARCHAR},
      </if>
      <if test="product_category_id != null">
        #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="promotion_name != null">
        #{promotion_name,jdbcType=VARCHAR},
      </if>
      <if test="promotion_amount != null">
        #{promotion_amount,jdbcType=DECIMAL},
      </if>
      <if test="coupon_amount != null">
        #{coupon_amount,jdbcType=DECIMAL},
      </if>
      <if test="integration_amount != null">
        #{integration_amount,jdbcType=DECIMAL},
      </if>
      <if test="real_amount != null">
        #{real_amount,jdbcType=DECIMAL},
      </if>
      <if test="gift_integration != null">
        #{gift_integration,jdbcType=INTEGER},
      </if>
      <if test="gift_growth != null">
        #{gift_growth,jdbcType=INTEGER},
      </if>
      <if test="product_attr != null">
        #{product_attr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lucky.mall.mbg.model.OmsOrderItemExample" resultType="java.lang.Long">
    select count(*) from oms_order_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update oms_order_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.order_id != null">
        order_id = #{record.order_id,jdbcType=BIGINT},
      </if>
      <if test="record.order_sn != null">
        order_sn = #{record.order_sn,jdbcType=VARCHAR},
      </if>
      <if test="record.product_id != null">
        product_id = #{record.product_id,jdbcType=BIGINT},
      </if>
      <if test="record.product_pic != null">
        product_pic = #{record.product_pic,jdbcType=VARCHAR},
      </if>
      <if test="record.product_name != null">
        product_name = #{record.product_name,jdbcType=VARCHAR},
      </if>
      <if test="record.product_brand != null">
        product_brand = #{record.product_brand,jdbcType=VARCHAR},
      </if>
      <if test="record.product_sn != null">
        product_sn = #{record.product_sn,jdbcType=VARCHAR},
      </if>
      <if test="record.product_price != null">
        product_price = #{record.product_price,jdbcType=DECIMAL},
      </if>
      <if test="record.product_quantity != null">
        product_quantity = #{record.product_quantity,jdbcType=INTEGER},
      </if>
      <if test="record.product_sku_id != null">
        product_sku_id = #{record.product_sku_id,jdbcType=BIGINT},
      </if>
      <if test="record.product_sku_code != null">
        product_sku_code = #{record.product_sku_code,jdbcType=VARCHAR},
      </if>
      <if test="record.product_category_id != null">
        product_category_id = #{record.product_category_id,jdbcType=BIGINT},
      </if>
      <if test="record.promotion_name != null">
        promotion_name = #{record.promotion_name,jdbcType=VARCHAR},
      </if>
      <if test="record.promotion_amount != null">
        promotion_amount = #{record.promotion_amount,jdbcType=DECIMAL},
      </if>
      <if test="record.coupon_amount != null">
        coupon_amount = #{record.coupon_amount,jdbcType=DECIMAL},
      </if>
      <if test="record.integration_amount != null">
        integration_amount = #{record.integration_amount,jdbcType=DECIMAL},
      </if>
      <if test="record.real_amount != null">
        real_amount = #{record.real_amount,jdbcType=DECIMAL},
      </if>
      <if test="record.gift_integration != null">
        gift_integration = #{record.gift_integration,jdbcType=INTEGER},
      </if>
      <if test="record.gift_growth != null">
        gift_growth = #{record.gift_growth,jdbcType=INTEGER},
      </if>
      <if test="record.product_attr != null">
        product_attr = #{record.product_attr,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update oms_order_item
    set id = #{record.id,jdbcType=BIGINT},
      order_id = #{record.order_id,jdbcType=BIGINT},
      order_sn = #{record.order_sn,jdbcType=VARCHAR},
      product_id = #{record.product_id,jdbcType=BIGINT},
      product_pic = #{record.product_pic,jdbcType=VARCHAR},
      product_name = #{record.product_name,jdbcType=VARCHAR},
      product_brand = #{record.product_brand,jdbcType=VARCHAR},
      product_sn = #{record.product_sn,jdbcType=VARCHAR},
      product_price = #{record.product_price,jdbcType=DECIMAL},
      product_quantity = #{record.product_quantity,jdbcType=INTEGER},
      product_sku_id = #{record.product_sku_id,jdbcType=BIGINT},
      product_sku_code = #{record.product_sku_code,jdbcType=VARCHAR},
      product_category_id = #{record.product_category_id,jdbcType=BIGINT},
      promotion_name = #{record.promotion_name,jdbcType=VARCHAR},
      promotion_amount = #{record.promotion_amount,jdbcType=DECIMAL},
      coupon_amount = #{record.coupon_amount,jdbcType=DECIMAL},
      integration_amount = #{record.integration_amount,jdbcType=DECIMAL},
      real_amount = #{record.real_amount,jdbcType=DECIMAL},
      gift_integration = #{record.gift_integration,jdbcType=INTEGER},
      gift_growth = #{record.gift_growth,jdbcType=INTEGER},
      product_attr = #{record.product_attr,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lucky.mall.mbg.model.OmsOrderItem">
    update oms_order_item
    <set>
      <if test="order_id != null">
        order_id = #{order_id,jdbcType=BIGINT},
      </if>
      <if test="order_sn != null">
        order_sn = #{order_sn,jdbcType=VARCHAR},
      </if>
      <if test="product_id != null">
        product_id = #{product_id,jdbcType=BIGINT},
      </if>
      <if test="product_pic != null">
        product_pic = #{product_pic,jdbcType=VARCHAR},
      </if>
      <if test="product_name != null">
        product_name = #{product_name,jdbcType=VARCHAR},
      </if>
      <if test="product_brand != null">
        product_brand = #{product_brand,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null">
        product_sn = #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="product_price != null">
        product_price = #{product_price,jdbcType=DECIMAL},
      </if>
      <if test="product_quantity != null">
        product_quantity = #{product_quantity,jdbcType=INTEGER},
      </if>
      <if test="product_sku_id != null">
        product_sku_id = #{product_sku_id,jdbcType=BIGINT},
      </if>
      <if test="product_sku_code != null">
        product_sku_code = #{product_sku_code,jdbcType=VARCHAR},
      </if>
      <if test="product_category_id != null">
        product_category_id = #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="promotion_name != null">
        promotion_name = #{promotion_name,jdbcType=VARCHAR},
      </if>
      <if test="promotion_amount != null">
        promotion_amount = #{promotion_amount,jdbcType=DECIMAL},
      </if>
      <if test="coupon_amount != null">
        coupon_amount = #{coupon_amount,jdbcType=DECIMAL},
      </if>
      <if test="integration_amount != null">
        integration_amount = #{integration_amount,jdbcType=DECIMAL},
      </if>
      <if test="real_amount != null">
        real_amount = #{real_amount,jdbcType=DECIMAL},
      </if>
      <if test="gift_integration != null">
        gift_integration = #{gift_integration,jdbcType=INTEGER},
      </if>
      <if test="gift_growth != null">
        gift_growth = #{gift_growth,jdbcType=INTEGER},
      </if>
      <if test="product_attr != null">
        product_attr = #{product_attr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lucky.mall.mbg.model.OmsOrderItem">
    update oms_order_item
    set order_id = #{order_id,jdbcType=BIGINT},
      order_sn = #{order_sn,jdbcType=VARCHAR},
      product_id = #{product_id,jdbcType=BIGINT},
      product_pic = #{product_pic,jdbcType=VARCHAR},
      product_name = #{product_name,jdbcType=VARCHAR},
      product_brand = #{product_brand,jdbcType=VARCHAR},
      product_sn = #{product_sn,jdbcType=VARCHAR},
      product_price = #{product_price,jdbcType=DECIMAL},
      product_quantity = #{product_quantity,jdbcType=INTEGER},
      product_sku_id = #{product_sku_id,jdbcType=BIGINT},
      product_sku_code = #{product_sku_code,jdbcType=VARCHAR},
      product_category_id = #{product_category_id,jdbcType=BIGINT},
      promotion_name = #{promotion_name,jdbcType=VARCHAR},
      promotion_amount = #{promotion_amount,jdbcType=DECIMAL},
      coupon_amount = #{coupon_amount,jdbcType=DECIMAL},
      integration_amount = #{integration_amount,jdbcType=DECIMAL},
      real_amount = #{real_amount,jdbcType=DECIMAL},
      gift_integration = #{gift_integration,jdbcType=INTEGER},
      gift_growth = #{gift_growth,jdbcType=INTEGER},
      product_attr = #{product_attr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>