<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mall.mbg.mapper.PmsProductAttributeMapper">
  <resultMap id="BaseResultMap" type="com.lucky.mall.mbg.model.PmsProductAttribute">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_attribute_category_id" jdbcType="BIGINT" property="product_attribute_category_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="select_type" jdbcType="INTEGER" property="select_type" />
    <result column="input_type" jdbcType="INTEGER" property="input_type" />
    <result column="input_list" jdbcType="VARCHAR" property="input_list" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="filter_type" jdbcType="INTEGER" property="filter_type" />
    <result column="search_type" jdbcType="INTEGER" property="search_type" />
    <result column="related_status" jdbcType="INTEGER" property="related_status" />
    <result column="hand_add_status" jdbcType="INTEGER" property="hand_add_status" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_attribute_category_id, name, select_type, input_type, input_list, sort, 
    filter_type, search_type, related_status, hand_add_status, type
  </sql>
  <select id="selectByExample" parameterType="com.lucky.mall.mbg.model.PmsProductAttributeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_product_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_product_attribute
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_attribute
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lucky.mall.mbg.model.PmsProductAttributeExample">
    delete from pms_product_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lucky.mall.mbg.model.PmsProductAttribute">
    insert into pms_product_attribute (id, product_attribute_category_id, 
      name, select_type, input_type, 
      input_list, sort, filter_type, 
      search_type, related_status, hand_add_status, 
      type)
    values (#{id,jdbcType=BIGINT}, #{product_attribute_category_id,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{select_type,jdbcType=INTEGER}, #{input_type,jdbcType=INTEGER}, 
      #{input_list,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{filter_type,jdbcType=INTEGER}, 
      #{search_type,jdbcType=INTEGER}, #{related_status,jdbcType=INTEGER}, #{hand_add_status,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lucky.mall.mbg.model.PmsProductAttribute">
    insert into pms_product_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="product_attribute_category_id != null">
        product_attribute_category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="select_type != null">
        select_type,
      </if>
      <if test="input_type != null">
        input_type,
      </if>
      <if test="input_list != null">
        input_list,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="filter_type != null">
        filter_type,
      </if>
      <if test="search_type != null">
        search_type,
      </if>
      <if test="related_status != null">
        related_status,
      </if>
      <if test="hand_add_status != null">
        hand_add_status,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="product_attribute_category_id != null">
        #{product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="select_type != null">
        #{select_type,jdbcType=INTEGER},
      </if>
      <if test="input_type != null">
        #{input_type,jdbcType=INTEGER},
      </if>
      <if test="input_list != null">
        #{input_list,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="filter_type != null">
        #{filter_type,jdbcType=INTEGER},
      </if>
      <if test="search_type != null">
        #{search_type,jdbcType=INTEGER},
      </if>
      <if test="related_status != null">
        #{related_status,jdbcType=INTEGER},
      </if>
      <if test="hand_add_status != null">
        #{hand_add_status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lucky.mall.mbg.model.PmsProductAttributeExample" resultType="java.lang.Long">
    select count(*) from pms_product_attribute
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_product_attribute
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.product_attribute_category_id != null">
        product_attribute_category_id = #{record.product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.select_type != null">
        select_type = #{record.select_type,jdbcType=INTEGER},
      </if>
      <if test="record.input_type != null">
        input_type = #{record.input_type,jdbcType=INTEGER},
      </if>
      <if test="record.input_list != null">
        input_list = #{record.input_list,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.filter_type != null">
        filter_type = #{record.filter_type,jdbcType=INTEGER},
      </if>
      <if test="record.search_type != null">
        search_type = #{record.search_type,jdbcType=INTEGER},
      </if>
      <if test="record.related_status != null">
        related_status = #{record.related_status,jdbcType=INTEGER},
      </if>
      <if test="record.hand_add_status != null">
        hand_add_status = #{record.hand_add_status,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_product_attribute
    set id = #{record.id,jdbcType=BIGINT},
      product_attribute_category_id = #{record.product_attribute_category_id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      select_type = #{record.select_type,jdbcType=INTEGER},
      input_type = #{record.input_type,jdbcType=INTEGER},
      input_list = #{record.input_list,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      filter_type = #{record.filter_type,jdbcType=INTEGER},
      search_type = #{record.search_type,jdbcType=INTEGER},
      related_status = #{record.related_status,jdbcType=INTEGER},
      hand_add_status = #{record.hand_add_status,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lucky.mall.mbg.model.PmsProductAttribute">
    update pms_product_attribute
    <set>
      <if test="product_attribute_category_id != null">
        product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="select_type != null">
        select_type = #{select_type,jdbcType=INTEGER},
      </if>
      <if test="input_type != null">
        input_type = #{input_type,jdbcType=INTEGER},
      </if>
      <if test="input_list != null">
        input_list = #{input_list,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="filter_type != null">
        filter_type = #{filter_type,jdbcType=INTEGER},
      </if>
      <if test="search_type != null">
        search_type = #{search_type,jdbcType=INTEGER},
      </if>
      <if test="related_status != null">
        related_status = #{related_status,jdbcType=INTEGER},
      </if>
      <if test="hand_add_status != null">
        hand_add_status = #{hand_add_status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lucky.mall.mbg.model.PmsProductAttribute">
    update pms_product_attribute
    set product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      select_type = #{select_type,jdbcType=INTEGER},
      input_type = #{input_type,jdbcType=INTEGER},
      input_list = #{input_list,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      filter_type = #{filter_type,jdbcType=INTEGER},
      search_type = #{search_type,jdbcType=INTEGER},
      related_status = #{related_status,jdbcType=INTEGER},
      hand_add_status = #{hand_add_status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>