<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mall.mbg.mapper.PmsProductMapper">
  <resultMap id="BaseResultMap" type="com.lucky.mall.mbg.model.PmsProduct">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_id" jdbcType="BIGINT" property="brand_id" />
    <result column="product_category_id" jdbcType="BIGINT" property="product_category_id" />
    <result column="feight_template_id" jdbcType="BIGINT" property="feight_template_id" />
    <result column="product_attribute_category_id" jdbcType="BIGINT" property="product_attribute_category_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="product_sn" jdbcType="VARCHAR" property="product_sn" />
    <result column="delete_status" jdbcType="INTEGER" property="delete_status" />
    <result column="publish_status" jdbcType="INTEGER" property="publish_status" />
    <result column="new_status" jdbcType="INTEGER" property="new_status" />
    <result column="recommand_status" jdbcType="INTEGER" property="recommand_status" />
    <result column="verify_status" jdbcType="INTEGER" property="verify_status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotion_price" />
    <result column="gift_growth" jdbcType="INTEGER" property="gift_growth" />
    <result column="gift_point" jdbcType="INTEGER" property="gift_point" />
    <result column="use_point_limit" jdbcType="INTEGER" property="use_point_limit" />
    <result column="sub_title" jdbcType="VARCHAR" property="sub_title" />
    <result column="original_price" jdbcType="DECIMAL" property="original_price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="low_stock" jdbcType="INTEGER" property="low_stock" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="preview_status" jdbcType="INTEGER" property="preview_status" />
    <result column="service_ids" jdbcType="VARCHAR" property="service_ids" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="album_pics" jdbcType="VARCHAR" property="album_pics" />
    <result column="detail_title" jdbcType="VARCHAR" property="detail_title" />
    <result column="promotion_start_time" jdbcType="TIMESTAMP" property="promotion_start_time" />
    <result column="promotion_end_time" jdbcType="TIMESTAMP" property="promotion_end_time" />
    <result column="promotion_per_limit" jdbcType="INTEGER" property="promotion_per_limit" />
    <result column="promotion_type" jdbcType="INTEGER" property="promotion_type" />
    <result column="brand_name" jdbcType="VARCHAR" property="brand_name" />
    <result column="product_category_name" jdbcType="VARCHAR" property="product_category_name" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lucky.mall.mbg.model.PmsProduct">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="detail_desc" jdbcType="LONGVARCHAR" property="detail_desc" />
    <result column="detail_html" jdbcType="LONGVARCHAR" property="detail_html" />
    <result column="detail_mobile_html" jdbcType="LONGVARCHAR" property="detail_mobile_html" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, brand_id, product_category_id, feight_template_id, product_attribute_category_id, 
    name, pic, product_sn, delete_status, publish_status, new_status, recommand_status, 
    verify_status, sort, sale, price, promotion_price, gift_growth, gift_point, use_point_limit, 
    sub_title, original_price, stock, low_stock, unit, weight, preview_status, service_ids, 
    keywords, note, album_pics, detail_title, promotion_start_time, promotion_end_time, 
    promotion_per_limit, promotion_type, brand_name, product_category_name
  </sql>
  <sql id="Blob_Column_List">
    description, detail_desc, detail_html, detail_mobile_html
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.lucky.mall.mbg.model.PmsProductExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.lucky.mall.mbg.model.PmsProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lucky.mall.mbg.model.PmsProductExample">
    delete from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lucky.mall.mbg.model.PmsProduct">
    insert into pms_product (id, brand_id, product_category_id, 
      feight_template_id, product_attribute_category_id, 
      name, pic, product_sn, 
      delete_status, publish_status, new_status, 
      recommand_status, verify_status, sort, 
      sale, price, promotion_price, 
      gift_growth, gift_point, use_point_limit, 
      sub_title, original_price, stock, 
      low_stock, unit, weight, 
      preview_status, service_ids, keywords, 
      note, album_pics, detail_title, 
      promotion_start_time, promotion_end_time, 
      promotion_per_limit, promotion_type, brand_name, 
      product_category_name, description, 
      detail_desc, detail_html, detail_mobile_html
      )
    values (#{id,jdbcType=BIGINT}, #{brand_id,jdbcType=BIGINT}, #{product_category_id,jdbcType=BIGINT}, 
      #{feight_template_id,jdbcType=BIGINT}, #{product_attribute_category_id,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{product_sn,jdbcType=VARCHAR}, 
      #{delete_status,jdbcType=INTEGER}, #{publish_status,jdbcType=INTEGER}, #{new_status,jdbcType=INTEGER}, 
      #{recommand_status,jdbcType=INTEGER}, #{verify_status,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, 
      #{sale,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{promotion_price,jdbcType=DECIMAL}, 
      #{gift_growth,jdbcType=INTEGER}, #{gift_point,jdbcType=INTEGER}, #{use_point_limit,jdbcType=INTEGER}, 
      #{sub_title,jdbcType=VARCHAR}, #{original_price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, 
      #{low_stock,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, 
      #{preview_status,jdbcType=INTEGER}, #{service_ids,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{album_pics,jdbcType=VARCHAR}, #{detail_title,jdbcType=VARCHAR}, 
      #{promotion_start_time,jdbcType=TIMESTAMP}, #{promotion_end_time,jdbcType=TIMESTAMP}, 
      #{promotion_per_limit,jdbcType=INTEGER}, #{promotion_type,jdbcType=INTEGER}, #{brand_name,jdbcType=VARCHAR}, 
      #{product_category_name,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, 
      #{detail_desc,jdbcType=LONGVARCHAR}, #{detail_html,jdbcType=LONGVARCHAR}, #{detail_mobile_html,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lucky.mall.mbg.model.PmsProduct">
    insert into pms_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="brand_id != null">
        brand_id,
      </if>
      <if test="product_category_id != null">
        product_category_id,
      </if>
      <if test="feight_template_id != null">
        feight_template_id,
      </if>
      <if test="product_attribute_category_id != null">
        product_attribute_category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="product_sn != null">
        product_sn,
      </if>
      <if test="delete_status != null">
        delete_status,
      </if>
      <if test="publish_status != null">
        publish_status,
      </if>
      <if test="new_status != null">
        new_status,
      </if>
      <if test="recommand_status != null">
        recommand_status,
      </if>
      <if test="verify_status != null">
        verify_status,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="promotion_price != null">
        promotion_price,
      </if>
      <if test="gift_growth != null">
        gift_growth,
      </if>
      <if test="gift_point != null">
        gift_point,
      </if>
      <if test="use_point_limit != null">
        use_point_limit,
      </if>
      <if test="sub_title != null">
        sub_title,
      </if>
      <if test="original_price != null">
        original_price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="low_stock != null">
        low_stock,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="preview_status != null">
        preview_status,
      </if>
      <if test="service_ids != null">
        service_ids,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="album_pics != null">
        album_pics,
      </if>
      <if test="detail_title != null">
        detail_title,
      </if>
      <if test="promotion_start_time != null">
        promotion_start_time,
      </if>
      <if test="promotion_end_time != null">
        promotion_end_time,
      </if>
      <if test="promotion_per_limit != null">
        promotion_per_limit,
      </if>
      <if test="promotion_type != null">
        promotion_type,
      </if>
      <if test="brand_name != null">
        brand_name,
      </if>
      <if test="product_category_name != null">
        product_category_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="detail_desc != null">
        detail_desc,
      </if>
      <if test="detail_html != null">
        detail_html,
      </if>
      <if test="detail_mobile_html != null">
        detail_mobile_html,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="brand_id != null">
        #{brand_id,jdbcType=BIGINT},
      </if>
      <if test="product_category_id != null">
        #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="feight_template_id != null">
        #{feight_template_id,jdbcType=BIGINT},
      </if>
      <if test="product_attribute_category_id != null">
        #{product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null">
        #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="delete_status != null">
        #{delete_status,jdbcType=INTEGER},
      </if>
      <if test="publish_status != null">
        #{publish_status,jdbcType=INTEGER},
      </if>
      <if test="new_status != null">
        #{new_status,jdbcType=INTEGER},
      </if>
      <if test="recommand_status != null">
        #{recommand_status,jdbcType=INTEGER},
      </if>
      <if test="verify_status != null">
        #{verify_status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotion_price != null">
        #{promotion_price,jdbcType=DECIMAL},
      </if>
      <if test="gift_growth != null">
        #{gift_growth,jdbcType=INTEGER},
      </if>
      <if test="gift_point != null">
        #{gift_point,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit != null">
        #{use_point_limit,jdbcType=INTEGER},
      </if>
      <if test="sub_title != null">
        #{sub_title,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null">
        #{original_price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="low_stock != null">
        #{low_stock,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="preview_status != null">
        #{preview_status,jdbcType=INTEGER},
      </if>
      <if test="service_ids != null">
        #{service_ids,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="album_pics != null">
        #{album_pics,jdbcType=VARCHAR},
      </if>
      <if test="detail_title != null">
        #{detail_title,jdbcType=VARCHAR},
      </if>
      <if test="promotion_start_time != null">
        #{promotion_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_end_time != null">
        #{promotion_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_per_limit != null">
        #{promotion_per_limit,jdbcType=INTEGER},
      </if>
      <if test="promotion_type != null">
        #{promotion_type,jdbcType=INTEGER},
      </if>
      <if test="brand_name != null">
        #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="product_category_name != null">
        #{product_category_name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_desc != null">
        #{detail_desc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_html != null">
        #{detail_html,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_mobile_html != null">
        #{detail_mobile_html,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lucky.mall.mbg.model.PmsProductExample" resultType="java.lang.Long">
    select count(*) from pms_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.brand_id != null">
        brand_id = #{record.brand_id,jdbcType=BIGINT},
      </if>
      <if test="record.product_category_id != null">
        product_category_id = #{record.product_category_id,jdbcType=BIGINT},
      </if>
      <if test="record.feight_template_id != null">
        feight_template_id = #{record.feight_template_id,jdbcType=BIGINT},
      </if>
      <if test="record.product_attribute_category_id != null">
        product_attribute_category_id = #{record.product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.pic != null">
        pic = #{record.pic,jdbcType=VARCHAR},
      </if>
      <if test="record.product_sn != null">
        product_sn = #{record.product_sn,jdbcType=VARCHAR},
      </if>
      <if test="record.delete_status != null">
        delete_status = #{record.delete_status,jdbcType=INTEGER},
      </if>
      <if test="record.publish_status != null">
        publish_status = #{record.publish_status,jdbcType=INTEGER},
      </if>
      <if test="record.new_status != null">
        new_status = #{record.new_status,jdbcType=INTEGER},
      </if>
      <if test="record.recommand_status != null">
        recommand_status = #{record.recommand_status,jdbcType=INTEGER},
      </if>
      <if test="record.verify_status != null">
        verify_status = #{record.verify_status,jdbcType=INTEGER},
      </if>
      <if test="record.sort != null">
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.sale != null">
        sale = #{record.sale,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.promotion_price != null">
        promotion_price = #{record.promotion_price,jdbcType=DECIMAL},
      </if>
      <if test="record.gift_growth != null">
        gift_growth = #{record.gift_growth,jdbcType=INTEGER},
      </if>
      <if test="record.gift_point != null">
        gift_point = #{record.gift_point,jdbcType=INTEGER},
      </if>
      <if test="record.use_point_limit != null">
        use_point_limit = #{record.use_point_limit,jdbcType=INTEGER},
      </if>
      <if test="record.sub_title != null">
        sub_title = #{record.sub_title,jdbcType=VARCHAR},
      </if>
      <if test="record.original_price != null">
        original_price = #{record.original_price,jdbcType=DECIMAL},
      </if>
      <if test="record.stock != null">
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.low_stock != null">
        low_stock = #{record.low_stock,jdbcType=INTEGER},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.preview_status != null">
        preview_status = #{record.preview_status,jdbcType=INTEGER},
      </if>
      <if test="record.service_ids != null">
        service_ids = #{record.service_ids,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.album_pics != null">
        album_pics = #{record.album_pics,jdbcType=VARCHAR},
      </if>
      <if test="record.detail_title != null">
        detail_title = #{record.detail_title,jdbcType=VARCHAR},
      </if>
      <if test="record.promotion_start_time != null">
        promotion_start_time = #{record.promotion_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.promotion_end_time != null">
        promotion_end_time = #{record.promotion_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.promotion_per_limit != null">
        promotion_per_limit = #{record.promotion_per_limit,jdbcType=INTEGER},
      </if>
      <if test="record.promotion_type != null">
        promotion_type = #{record.promotion_type,jdbcType=INTEGER},
      </if>
      <if test="record.brand_name != null">
        brand_name = #{record.brand_name,jdbcType=VARCHAR},
      </if>
      <if test="record.product_category_name != null">
        product_category_name = #{record.product_category_name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.detail_desc != null">
        detail_desc = #{record.detail_desc,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.detail_html != null">
        detail_html = #{record.detail_html,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.detail_mobile_html != null">
        detail_mobile_html = #{record.detail_mobile_html,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update pms_product
    set id = #{record.id,jdbcType=BIGINT},
      brand_id = #{record.brand_id,jdbcType=BIGINT},
      product_category_id = #{record.product_category_id,jdbcType=BIGINT},
      feight_template_id = #{record.feight_template_id,jdbcType=BIGINT},
      product_attribute_category_id = #{record.product_attribute_category_id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      product_sn = #{record.product_sn,jdbcType=VARCHAR},
      delete_status = #{record.delete_status,jdbcType=INTEGER},
      publish_status = #{record.publish_status,jdbcType=INTEGER},
      new_status = #{record.new_status,jdbcType=INTEGER},
      recommand_status = #{record.recommand_status,jdbcType=INTEGER},
      verify_status = #{record.verify_status,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      sale = #{record.sale,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      promotion_price = #{record.promotion_price,jdbcType=DECIMAL},
      gift_growth = #{record.gift_growth,jdbcType=INTEGER},
      gift_point = #{record.gift_point,jdbcType=INTEGER},
      use_point_limit = #{record.use_point_limit,jdbcType=INTEGER},
      sub_title = #{record.sub_title,jdbcType=VARCHAR},
      original_price = #{record.original_price,jdbcType=DECIMAL},
      stock = #{record.stock,jdbcType=INTEGER},
      low_stock = #{record.low_stock,jdbcType=INTEGER},
      unit = #{record.unit,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DECIMAL},
      preview_status = #{record.preview_status,jdbcType=INTEGER},
      service_ids = #{record.service_ids,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      album_pics = #{record.album_pics,jdbcType=VARCHAR},
      detail_title = #{record.detail_title,jdbcType=VARCHAR},
      promotion_start_time = #{record.promotion_start_time,jdbcType=TIMESTAMP},
      promotion_end_time = #{record.promotion_end_time,jdbcType=TIMESTAMP},
      promotion_per_limit = #{record.promotion_per_limit,jdbcType=INTEGER},
      promotion_type = #{record.promotion_type,jdbcType=INTEGER},
      brand_name = #{record.brand_name,jdbcType=VARCHAR},
      product_category_name = #{record.product_category_name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=LONGVARCHAR},
      detail_desc = #{record.detail_desc,jdbcType=LONGVARCHAR},
      detail_html = #{record.detail_html,jdbcType=LONGVARCHAR},
      detail_mobile_html = #{record.detail_mobile_html,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_product
    set id = #{record.id,jdbcType=BIGINT},
      brand_id = #{record.brand_id,jdbcType=BIGINT},
      product_category_id = #{record.product_category_id,jdbcType=BIGINT},
      feight_template_id = #{record.feight_template_id,jdbcType=BIGINT},
      product_attribute_category_id = #{record.product_attribute_category_id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      pic = #{record.pic,jdbcType=VARCHAR},
      product_sn = #{record.product_sn,jdbcType=VARCHAR},
      delete_status = #{record.delete_status,jdbcType=INTEGER},
      publish_status = #{record.publish_status,jdbcType=INTEGER},
      new_status = #{record.new_status,jdbcType=INTEGER},
      recommand_status = #{record.recommand_status,jdbcType=INTEGER},
      verify_status = #{record.verify_status,jdbcType=INTEGER},
      sort = #{record.sort,jdbcType=INTEGER},
      sale = #{record.sale,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      promotion_price = #{record.promotion_price,jdbcType=DECIMAL},
      gift_growth = #{record.gift_growth,jdbcType=INTEGER},
      gift_point = #{record.gift_point,jdbcType=INTEGER},
      use_point_limit = #{record.use_point_limit,jdbcType=INTEGER},
      sub_title = #{record.sub_title,jdbcType=VARCHAR},
      original_price = #{record.original_price,jdbcType=DECIMAL},
      stock = #{record.stock,jdbcType=INTEGER},
      low_stock = #{record.low_stock,jdbcType=INTEGER},
      unit = #{record.unit,jdbcType=VARCHAR},
      weight = #{record.weight,jdbcType=DECIMAL},
      preview_status = #{record.preview_status,jdbcType=INTEGER},
      service_ids = #{record.service_ids,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      album_pics = #{record.album_pics,jdbcType=VARCHAR},
      detail_title = #{record.detail_title,jdbcType=VARCHAR},
      promotion_start_time = #{record.promotion_start_time,jdbcType=TIMESTAMP},
      promotion_end_time = #{record.promotion_end_time,jdbcType=TIMESTAMP},
      promotion_per_limit = #{record.promotion_per_limit,jdbcType=INTEGER},
      promotion_type = #{record.promotion_type,jdbcType=INTEGER},
      brand_name = #{record.brand_name,jdbcType=VARCHAR},
      product_category_name = #{record.product_category_name,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lucky.mall.mbg.model.PmsProduct">
    update pms_product
    <set>
      <if test="brand_id != null">
        brand_id = #{brand_id,jdbcType=BIGINT},
      </if>
      <if test="product_category_id != null">
        product_category_id = #{product_category_id,jdbcType=BIGINT},
      </if>
      <if test="feight_template_id != null">
        feight_template_id = #{feight_template_id,jdbcType=BIGINT},
      </if>
      <if test="product_attribute_category_id != null">
        product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="product_sn != null">
        product_sn = #{product_sn,jdbcType=VARCHAR},
      </if>
      <if test="delete_status != null">
        delete_status = #{delete_status,jdbcType=INTEGER},
      </if>
      <if test="publish_status != null">
        publish_status = #{publish_status,jdbcType=INTEGER},
      </if>
      <if test="new_status != null">
        new_status = #{new_status,jdbcType=INTEGER},
      </if>
      <if test="recommand_status != null">
        recommand_status = #{recommand_status,jdbcType=INTEGER},
      </if>
      <if test="verify_status != null">
        verify_status = #{verify_status,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotion_price != null">
        promotion_price = #{promotion_price,jdbcType=DECIMAL},
      </if>
      <if test="gift_growth != null">
        gift_growth = #{gift_growth,jdbcType=INTEGER},
      </if>
      <if test="gift_point != null">
        gift_point = #{gift_point,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit != null">
        use_point_limit = #{use_point_limit,jdbcType=INTEGER},
      </if>
      <if test="sub_title != null">
        sub_title = #{sub_title,jdbcType=VARCHAR},
      </if>
      <if test="original_price != null">
        original_price = #{original_price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="low_stock != null">
        low_stock = #{low_stock,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="preview_status != null">
        preview_status = #{preview_status,jdbcType=INTEGER},
      </if>
      <if test="service_ids != null">
        service_ids = #{service_ids,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="album_pics != null">
        album_pics = #{album_pics,jdbcType=VARCHAR},
      </if>
      <if test="detail_title != null">
        detail_title = #{detail_title,jdbcType=VARCHAR},
      </if>
      <if test="promotion_start_time != null">
        promotion_start_time = #{promotion_start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_end_time != null">
        promotion_end_time = #{promotion_end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion_per_limit != null">
        promotion_per_limit = #{promotion_per_limit,jdbcType=INTEGER},
      </if>
      <if test="promotion_type != null">
        promotion_type = #{promotion_type,jdbcType=INTEGER},
      </if>
      <if test="brand_name != null">
        brand_name = #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="product_category_name != null">
        product_category_name = #{product_category_name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_desc != null">
        detail_desc = #{detail_desc,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_html != null">
        detail_html = #{detail_html,jdbcType=LONGVARCHAR},
      </if>
      <if test="detail_mobile_html != null">
        detail_mobile_html = #{detail_mobile_html,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lucky.mall.mbg.model.PmsProduct">
    update pms_product
    set brand_id = #{brand_id,jdbcType=BIGINT},
      product_category_id = #{product_category_id,jdbcType=BIGINT},
      feight_template_id = #{feight_template_id,jdbcType=BIGINT},
      product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{product_sn,jdbcType=VARCHAR},
      delete_status = #{delete_status,jdbcType=INTEGER},
      publish_status = #{publish_status,jdbcType=INTEGER},
      new_status = #{new_status,jdbcType=INTEGER},
      recommand_status = #{recommand_status,jdbcType=INTEGER},
      verify_status = #{verify_status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotion_price,jdbcType=DECIMAL},
      gift_growth = #{gift_growth,jdbcType=INTEGER},
      gift_point = #{gift_point,jdbcType=INTEGER},
      use_point_limit = #{use_point_limit,jdbcType=INTEGER},
      sub_title = #{sub_title,jdbcType=VARCHAR},
      original_price = #{original_price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{low_stock,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      preview_status = #{preview_status,jdbcType=INTEGER},
      service_ids = #{service_ids,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      album_pics = #{album_pics,jdbcType=VARCHAR},
      detail_title = #{detail_title,jdbcType=VARCHAR},
      promotion_start_time = #{promotion_start_time,jdbcType=TIMESTAMP},
      promotion_end_time = #{promotion_end_time,jdbcType=TIMESTAMP},
      promotion_per_limit = #{promotion_per_limit,jdbcType=INTEGER},
      promotion_type = #{promotion_type,jdbcType=INTEGER},
      brand_name = #{brand_name,jdbcType=VARCHAR},
      product_category_name = #{product_category_name,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      detail_desc = #{detail_desc,jdbcType=LONGVARCHAR},
      detail_html = #{detail_html,jdbcType=LONGVARCHAR},
      detail_mobile_html = #{detail_mobile_html,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lucky.mall.mbg.model.PmsProduct">
    update pms_product
    set brand_id = #{brand_id,jdbcType=BIGINT},
      product_category_id = #{product_category_id,jdbcType=BIGINT},
      feight_template_id = #{feight_template_id,jdbcType=BIGINT},
      product_attribute_category_id = #{product_attribute_category_id,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      product_sn = #{product_sn,jdbcType=VARCHAR},
      delete_status = #{delete_status,jdbcType=INTEGER},
      publish_status = #{publish_status,jdbcType=INTEGER},
      new_status = #{new_status,jdbcType=INTEGER},
      recommand_status = #{recommand_status,jdbcType=INTEGER},
      verify_status = #{verify_status,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      sale = #{sale,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotion_price,jdbcType=DECIMAL},
      gift_growth = #{gift_growth,jdbcType=INTEGER},
      gift_point = #{gift_point,jdbcType=INTEGER},
      use_point_limit = #{use_point_limit,jdbcType=INTEGER},
      sub_title = #{sub_title,jdbcType=VARCHAR},
      original_price = #{original_price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{low_stock,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DECIMAL},
      preview_status = #{preview_status,jdbcType=INTEGER},
      service_ids = #{service_ids,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      album_pics = #{album_pics,jdbcType=VARCHAR},
      detail_title = #{detail_title,jdbcType=VARCHAR},
      promotion_start_time = #{promotion_start_time,jdbcType=TIMESTAMP},
      promotion_end_time = #{promotion_end_time,jdbcType=TIMESTAMP},
      promotion_per_limit = #{promotion_per_limit,jdbcType=INTEGER},
      promotion_type = #{promotion_type,jdbcType=INTEGER},
      brand_name = #{brand_name,jdbcType=VARCHAR},
      product_category_name = #{product_category_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>