<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mall.mbg.mapper.PmsProductOperateLogMapper">
  <resultMap id="BaseResultMap" type="com.lucky.mall.mbg.model.PmsProductOperateLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="product_id" />
    <result column="price_old" jdbcType="DECIMAL" property="price_old" />
    <result column="price_new" jdbcType="DECIMAL" property="price_new" />
    <result column="sale_price_old" jdbcType="DECIMAL" property="sale_price_old" />
    <result column="sale_price_new" jdbcType="DECIMAL" property="sale_price_new" />
    <result column="gift_point_old" jdbcType="INTEGER" property="gift_point_old" />
    <result column="gift_point_new" jdbcType="INTEGER" property="gift_point_new" />
    <result column="use_point_limit_old" jdbcType="INTEGER" property="use_point_limit_old" />
    <result column="use_point_limit_new" jdbcType="INTEGER" property="use_point_limit_new" />
    <result column="operate_man" jdbcType="VARCHAR" property="operate_man" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_id, price_old, price_new, sale_price_old, sale_price_new, gift_point_old, 
    gift_point_new, use_point_limit_old, use_point_limit_new, operate_man, create_time
  </sql>
  <select id="selectByExample" parameterType="com.lucky.mall.mbg.model.PmsProductOperateLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_product_operate_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_product_operate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_operate_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lucky.mall.mbg.model.PmsProductOperateLogExample">
    delete from pms_product_operate_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lucky.mall.mbg.model.PmsProductOperateLog">
    insert into pms_product_operate_log (id, product_id, price_old, 
      price_new, sale_price_old, sale_price_new, 
      gift_point_old, gift_point_new, use_point_limit_old, 
      use_point_limit_new, operate_man, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{product_id,jdbcType=BIGINT}, #{price_old,jdbcType=DECIMAL}, 
      #{price_new,jdbcType=DECIMAL}, #{sale_price_old,jdbcType=DECIMAL}, #{sale_price_new,jdbcType=DECIMAL}, 
      #{gift_point_old,jdbcType=INTEGER}, #{gift_point_new,jdbcType=INTEGER}, #{use_point_limit_old,jdbcType=INTEGER}, 
      #{use_point_limit_new,jdbcType=INTEGER}, #{operate_man,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lucky.mall.mbg.model.PmsProductOperateLog">
    insert into pms_product_operate_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="product_id != null">
        product_id,
      </if>
      <if test="price_old != null">
        price_old,
      </if>
      <if test="price_new != null">
        price_new,
      </if>
      <if test="sale_price_old != null">
        sale_price_old,
      </if>
      <if test="sale_price_new != null">
        sale_price_new,
      </if>
      <if test="gift_point_old != null">
        gift_point_old,
      </if>
      <if test="gift_point_new != null">
        gift_point_new,
      </if>
      <if test="use_point_limit_old != null">
        use_point_limit_old,
      </if>
      <if test="use_point_limit_new != null">
        use_point_limit_new,
      </if>
      <if test="operate_man != null">
        operate_man,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="product_id != null">
        #{product_id,jdbcType=BIGINT},
      </if>
      <if test="price_old != null">
        #{price_old,jdbcType=DECIMAL},
      </if>
      <if test="price_new != null">
        #{price_new,jdbcType=DECIMAL},
      </if>
      <if test="sale_price_old != null">
        #{sale_price_old,jdbcType=DECIMAL},
      </if>
      <if test="sale_price_new != null">
        #{sale_price_new,jdbcType=DECIMAL},
      </if>
      <if test="gift_point_old != null">
        #{gift_point_old,jdbcType=INTEGER},
      </if>
      <if test="gift_point_new != null">
        #{gift_point_new,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit_old != null">
        #{use_point_limit_old,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit_new != null">
        #{use_point_limit_new,jdbcType=INTEGER},
      </if>
      <if test="operate_man != null">
        #{operate_man,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lucky.mall.mbg.model.PmsProductOperateLogExample" resultType="java.lang.Long">
    select count(*) from pms_product_operate_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pms_product_operate_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.product_id != null">
        product_id = #{record.product_id,jdbcType=BIGINT},
      </if>
      <if test="record.price_old != null">
        price_old = #{record.price_old,jdbcType=DECIMAL},
      </if>
      <if test="record.price_new != null">
        price_new = #{record.price_new,jdbcType=DECIMAL},
      </if>
      <if test="record.sale_price_old != null">
        sale_price_old = #{record.sale_price_old,jdbcType=DECIMAL},
      </if>
      <if test="record.sale_price_new != null">
        sale_price_new = #{record.sale_price_new,jdbcType=DECIMAL},
      </if>
      <if test="record.gift_point_old != null">
        gift_point_old = #{record.gift_point_old,jdbcType=INTEGER},
      </if>
      <if test="record.gift_point_new != null">
        gift_point_new = #{record.gift_point_new,jdbcType=INTEGER},
      </if>
      <if test="record.use_point_limit_old != null">
        use_point_limit_old = #{record.use_point_limit_old,jdbcType=INTEGER},
      </if>
      <if test="record.use_point_limit_new != null">
        use_point_limit_new = #{record.use_point_limit_new,jdbcType=INTEGER},
      </if>
      <if test="record.operate_man != null">
        operate_man = #{record.operate_man,jdbcType=VARCHAR},
      </if>
      <if test="record.create_time != null">
        create_time = #{record.create_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pms_product_operate_log
    set id = #{record.id,jdbcType=BIGINT},
      product_id = #{record.product_id,jdbcType=BIGINT},
      price_old = #{record.price_old,jdbcType=DECIMAL},
      price_new = #{record.price_new,jdbcType=DECIMAL},
      sale_price_old = #{record.sale_price_old,jdbcType=DECIMAL},
      sale_price_new = #{record.sale_price_new,jdbcType=DECIMAL},
      gift_point_old = #{record.gift_point_old,jdbcType=INTEGER},
      gift_point_new = #{record.gift_point_new,jdbcType=INTEGER},
      use_point_limit_old = #{record.use_point_limit_old,jdbcType=INTEGER},
      use_point_limit_new = #{record.use_point_limit_new,jdbcType=INTEGER},
      operate_man = #{record.operate_man,jdbcType=VARCHAR},
      create_time = #{record.create_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lucky.mall.mbg.model.PmsProductOperateLog">
    update pms_product_operate_log
    <set>
      <if test="product_id != null">
        product_id = #{product_id,jdbcType=BIGINT},
      </if>
      <if test="price_old != null">
        price_old = #{price_old,jdbcType=DECIMAL},
      </if>
      <if test="price_new != null">
        price_new = #{price_new,jdbcType=DECIMAL},
      </if>
      <if test="sale_price_old != null">
        sale_price_old = #{sale_price_old,jdbcType=DECIMAL},
      </if>
      <if test="sale_price_new != null">
        sale_price_new = #{sale_price_new,jdbcType=DECIMAL},
      </if>
      <if test="gift_point_old != null">
        gift_point_old = #{gift_point_old,jdbcType=INTEGER},
      </if>
      <if test="gift_point_new != null">
        gift_point_new = #{gift_point_new,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit_old != null">
        use_point_limit_old = #{use_point_limit_old,jdbcType=INTEGER},
      </if>
      <if test="use_point_limit_new != null">
        use_point_limit_new = #{use_point_limit_new,jdbcType=INTEGER},
      </if>
      <if test="operate_man != null">
        operate_man = #{operate_man,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lucky.mall.mbg.model.PmsProductOperateLog">
    update pms_product_operate_log
    set product_id = #{product_id,jdbcType=BIGINT},
      price_old = #{price_old,jdbcType=DECIMAL},
      price_new = #{price_new,jdbcType=DECIMAL},
      sale_price_old = #{sale_price_old,jdbcType=DECIMAL},
      sale_price_new = #{sale_price_new,jdbcType=DECIMAL},
      gift_point_old = #{gift_point_old,jdbcType=INTEGER},
      gift_point_new = #{gift_point_new,jdbcType=INTEGER},
      use_point_limit_old = #{use_point_limit_old,jdbcType=INTEGER},
      use_point_limit_new = #{use_point_limit_new,jdbcType=INTEGER},
      operate_man = #{operate_man,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>