<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.mall.mbg.mapper.SmsCouponMapper">
  <resultMap id="BaseResultMap" type="com.lucky.mall.mbg.model.SmsCoupon">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="platform" jdbcType="INTEGER" property="platform" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="per_limit" jdbcType="INTEGER" property="per_limit" />
    <result column="min_point" jdbcType="DECIMAL" property="min_point" />
    <result column="start_time" jdbcType="TIMESTAMP" property="start_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <result column="use_type" jdbcType="INTEGER" property="use_type" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="publish_count" jdbcType="INTEGER" property="publish_count" />
    <result column="use_count" jdbcType="INTEGER" property="use_count" />
    <result column="receive_count" jdbcType="INTEGER" property="receive_count" />
    <result column="enable_time" jdbcType="TIMESTAMP" property="enable_time" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="member_level" jdbcType="INTEGER" property="member_level" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, type, name, platform, count, amount, per_limit, min_point, start_time, end_time, 
    use_type, note, publish_count, use_count, receive_count, enable_time, code, member_level
  </sql>
  <select id="selectByExample" parameterType="com.lucky.mall.mbg.model.SmsCouponExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sms_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms_coupon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_coupon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lucky.mall.mbg.model.SmsCouponExample">
    delete from sms_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lucky.mall.mbg.model.SmsCoupon">
    insert into sms_coupon (id, type, name, 
      platform, count, amount, 
      per_limit, min_point, start_time, 
      end_time, use_type, note, 
      publish_count, use_count, receive_count, 
      enable_time, code, member_level
      )
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{platform,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{per_limit,jdbcType=INTEGER}, #{min_point,jdbcType=DECIMAL}, #{start_time,jdbcType=TIMESTAMP}, 
      #{end_time,jdbcType=TIMESTAMP}, #{use_type,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, 
      #{publish_count,jdbcType=INTEGER}, #{use_count,jdbcType=INTEGER}, #{receive_count,jdbcType=INTEGER}, 
      #{enable_time,jdbcType=TIMESTAMP}, #{code,jdbcType=VARCHAR}, #{member_level,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lucky.mall.mbg.model.SmsCoupon">
    insert into sms_coupon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="per_limit != null">
        per_limit,
      </if>
      <if test="min_point != null">
        min_point,
      </if>
      <if test="start_time != null">
        start_time,
      </if>
      <if test="end_time != null">
        end_time,
      </if>
      <if test="use_type != null">
        use_type,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="publish_count != null">
        publish_count,
      </if>
      <if test="use_count != null">
        use_count,
      </if>
      <if test="receive_count != null">
        receive_count,
      </if>
      <if test="enable_time != null">
        enable_time,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="member_level != null">
        member_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="per_limit != null">
        #{per_limit,jdbcType=INTEGER},
      </if>
      <if test="min_point != null">
        #{min_point,jdbcType=DECIMAL},
      </if>
      <if test="start_time != null">
        #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="use_type != null">
        #{use_type,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="publish_count != null">
        #{publish_count,jdbcType=INTEGER},
      </if>
      <if test="use_count != null">
        #{use_count,jdbcType=INTEGER},
      </if>
      <if test="receive_count != null">
        #{receive_count,jdbcType=INTEGER},
      </if>
      <if test="enable_time != null">
        #{enable_time,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="member_level != null">
        #{member_level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lucky.mall.mbg.model.SmsCouponExample" resultType="java.lang.Long">
    select count(*) from sms_coupon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sms_coupon
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.platform != null">
        platform = #{record.platform,jdbcType=INTEGER},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.per_limit != null">
        per_limit = #{record.per_limit,jdbcType=INTEGER},
      </if>
      <if test="record.min_point != null">
        min_point = #{record.min_point,jdbcType=DECIMAL},
      </if>
      <if test="record.start_time != null">
        start_time = #{record.start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.end_time != null">
        end_time = #{record.end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.use_type != null">
        use_type = #{record.use_type,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.publish_count != null">
        publish_count = #{record.publish_count,jdbcType=INTEGER},
      </if>
      <if test="record.use_count != null">
        use_count = #{record.use_count,jdbcType=INTEGER},
      </if>
      <if test="record.receive_count != null">
        receive_count = #{record.receive_count,jdbcType=INTEGER},
      </if>
      <if test="record.enable_time != null">
        enable_time = #{record.enable_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.member_level != null">
        member_level = #{record.member_level,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sms_coupon
    set id = #{record.id,jdbcType=BIGINT},
      type = #{record.type,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      platform = #{record.platform,jdbcType=INTEGER},
      count = #{record.count,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=DECIMAL},
      per_limit = #{record.per_limit,jdbcType=INTEGER},
      min_point = #{record.min_point,jdbcType=DECIMAL},
      start_time = #{record.start_time,jdbcType=TIMESTAMP},
      end_time = #{record.end_time,jdbcType=TIMESTAMP},
      use_type = #{record.use_type,jdbcType=INTEGER},
      note = #{record.note,jdbcType=VARCHAR},
      publish_count = #{record.publish_count,jdbcType=INTEGER},
      use_count = #{record.use_count,jdbcType=INTEGER},
      receive_count = #{record.receive_count,jdbcType=INTEGER},
      enable_time = #{record.enable_time,jdbcType=TIMESTAMP},
      code = #{record.code,jdbcType=VARCHAR},
      member_level = #{record.member_level,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lucky.mall.mbg.model.SmsCoupon">
    update sms_coupon
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="per_limit != null">
        per_limit = #{per_limit,jdbcType=INTEGER},
      </if>
      <if test="min_point != null">
        min_point = #{min_point,jdbcType=DECIMAL},
      </if>
      <if test="start_time != null">
        start_time = #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="use_type != null">
        use_type = #{use_type,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="publish_count != null">
        publish_count = #{publish_count,jdbcType=INTEGER},
      </if>
      <if test="use_count != null">
        use_count = #{use_count,jdbcType=INTEGER},
      </if>
      <if test="receive_count != null">
        receive_count = #{receive_count,jdbcType=INTEGER},
      </if>
      <if test="enable_time != null">
        enable_time = #{enable_time,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="member_level != null">
        member_level = #{member_level,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lucky.mall.mbg.model.SmsCoupon">
    update sms_coupon
    set type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      per_limit = #{per_limit,jdbcType=INTEGER},
      min_point = #{min_point,jdbcType=DECIMAL},
      start_time = #{start_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      use_type = #{use_type,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR},
      publish_count = #{publish_count,jdbcType=INTEGER},
      use_count = #{use_count,jdbcType=INTEGER},
      receive_count = #{receive_count,jdbcType=INTEGER},
      enable_time = #{enable_time,jdbcType=TIMESTAMP},
      code = #{code,jdbcType=VARCHAR},
      member_level = #{member_level,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>